body {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.container {
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

p::before,
p::after {
    content: "KK";
}