.box {
    border: 2px solid yellow;
    background: green;
    padding: 20px;
    margin: 20px auto;
    max-width: 350px;
}

.content-box {
    box-sizing: content-box;
}

span {
    display: inline-block;
    margin: 0 15px;
    width: 100px;
    height: 100px;
    padding: 20px;
    background: blue;
}
ul {
    padding: 0;
    margin: 0;

}

.left {

}

.item {
    background: white;
    margin-bottom: 50px;
    text-align: center;
    overflow: hidden;
}

.item li {
    height: 200px;
    width: 200px;
    background:wheat;
    font-weight: 700;
    font-size: 64px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {

}